* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
    /* text-align: center; */
    /* overflow-x: hidden; */
}

/* slide section  */

header div.slide-img {
  float: left;
  width: 100%;
}

.slide-img {
  position: absolute;
  left: 0;
  top: 0;
  height: 110%;
  width: 100%;
  animation: animate 15s ease-in-out infinite;
  z-index: -1;
  background-position: left;
  background-size: cover;
  animation-direction: alternate;
}

@keyframes animate {
  0%,
  100% {
    background-image: url("header/slide-1.jpg");
  }

  25% {
    background-image: url("header/slide-1.jpg");
  }

  50% {
    background-image: url("header/slide-2.jpg");
  }

  75% {
    background-image: url("header/slide-3.jpg");
  }

  100% {
    background-image: url("header/slide-1.jpg");
  }
}

/* background image close section  */

/* header */

#header-primary {
  display: flex;
  justify-content: space-between;
  width: 1300px;
  /* padding-bottom: 9.0rem; */
}

/* logo.. */

.logo-1 {
  height: 45px;
  width: 145px;
  margin-left: 11rem;
  margin-top: 18px;
}

/* navigation bar */

#navbar {
  display: block;
  margin-right: 5rem;
  margin-top: 0.5rem;
  margin-right: 30px;
}

#navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-family: sans-serif;
  font-weight: bold;
}

#navbar ul li {
  padding: 25px;
}

#navbar ul li a {
  text-decoration: none;
  color: white;
}

#navbar ul li a:hover {
  color: #fd7d16;
  border-bottom: 3px solid #fff;
  transition: all 0.2s ease;
  animation-direction: alternate;
}

span {
  color: white;
}

span:hover {
  cursor: pointer;
  color: #fd7d16;
}

#navbar ul li.active a {
  color: #fd7d16;
}

/* dropdown menu first */

.dropdown-menu-1 {
  display: none;
}

#navbar ul li:hover .dropdown-menu-1 {
  display: block;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
  text-transform: uppercase;
  height: 290px;
  top: 42px;
  margin-top: 10px;
  width: 210px;
  font-size: 12px;
  color: black;
}

#navbar ul li .dropdown-menu-1 ul li a:hover {
  color: white;
  font-weight: 100;
}

.dropdown-menu-1 ul li:hover {
  background-color: #fd7d16;
  transition: all 0.5s ease;
  cursor: pointer;
}

#navbar ul li:hover .dropdown-menu-1 ul {
  display: block;
}

#navbar li:hover .dropdown-menu-1 ul li a {
  color: black;
}

#navbar ul li:hover .dropdown-menu-1 ul li {
  padding-right: 191px;
  padding-bottom: 20.8px;
  border-radius: 5px;
}

/* dropdown menu first close */

/* dropdown second start  */

.dropdown-menu-2 {
  display: none;
}

#navbar ul li:hover .dropdown-menu-2 {
  display: block;
  position: absolute;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #fff;
  color: black;
  text-transform: uppercase;
  font-size: 12px;
}

#navbar ul li:hover .dropdown-menu-2 ul li {
  padding-bottom: 15.62px;
}

#navbar ul li:hover .dropdown-menu-2 ul {
  display: block;
}

#navbar li:hover .dropdown-menu-2 ul li a {
  color: black;
  font-weight: 100;
}

#navbar li:hover .dropdown-menu-2 ul li a:hover {
  color: white;
}

.dropdown-menu-2 ul li:hover {
  background-color: #fd7d16;
  border-radius: 3px;
  transition: all 0.5s ease;
}

.dropdown-menu-2 ul {
  width: 158px;
  height: 106px;
}

/* dropdown seond close */

/* about restaurant */

.title {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  margin-left: 18px;
}

.p {
  font-family: "Cookie", cursive;
  font-size: 36px;
  color: #fd7d16;
  margin-right: auto;
  margin-left: 12rem;
}

.primary-heading-1 {
  font-size: 50px;
  width: 45%;
  gap: 12px;
  margin-right: auto;
  margin-left: 11.5rem;
  font-family: "Cardo", serif;
  font-weight: 700;
}

.btn-1 {
  position: relative;
  margin-right: auto;
  left: 12rem;
  top: 1.5rem;
  padding: 14px 29px;
  background-color: #fd7d16;
  color: white;
  font-weight: bold;

  cursor: pointer;
  border: none;
  text-transform: uppercase;
  font-weight: 200;
}

.btn-1:hover {
  background-color: rgb(43, 41, 41);
  transition: 0.5s ease-in-out;
}

/* close restaurant */

/* food and order section  */

#about-restaurant {
  height: 100%;
  width: 100%;
}

.box {
  margin-top: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-1-img {
  height: 62px;
  width: 68px;
  opacity: 0.4;
}

.box-2-img {
  height: 62px;
  width: 68px;
  opacity: 0.4;
}

.box-3-img {
  height: 62px;
  width: 68px;
  opacity: 0.4;
}

.heading-box-1 {
  width: 256px;
  height: 32px;
  text-transform: capitalize;
  /* opacity: 0.8; */
  font-size: 20px;
  font-family: "Cardo", serif;
  font-weight: bold;
  margin-top: 15px;
}

.heading-box-2 {
  font-size: 20px;
  width: 256px;
  height: 32px;
  text-transform: capitalize;
  /* opacity: 0.8; */
  font-family: "Cardo", serif;
  font-weight: bold;
  margin-top: 15px;
}

.heading-box-3 {
  width: 256px;
  height: 32px;
  text-transform: capitalize;
  /* opacity: 0.8; */
  font-size: 20px;
  font-family: "Cardo", serif;
  font-weight: bold;
  margin-top: 15px;
}

.para-box-1 {
  width: 250px;
  height: 81px;
  opacity: 0.8;
  color: #7e8690;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-right: 0;
  box-sizing: border-box;
  line-height: 1.2;
  margin-top: 5px;
  letter-spacing: 0.5px;
  font-size: 16px;
  line-height: 2rem;
}

.para-box-2 {
  opacity: 0.8;
  width: 250px;
  height: 81px;
  color: #7e8690;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-right: 0;
  box-sizing: border-box;
  line-height: 1.2;
  margin-top: 5px;
  letter-spacing: 0.5px;
  font-size: 16px;
  line-height: 2rem;
}

.para-box-3 {
  width: 250px;
  height: 81px;
  color: #7e8690;
  opacity: 0.8;
  margin-right: 0;
  box-sizing: border-box;
  line-height: 1.2;
  margin-top: 5px;
  letter-spacing: 0.5px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 16px;
  line-height: 2rem;
  margin-top: 5px;
}

.box-1 {
  width: 357px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 60px;
  padding-left: 60px;
  background-color: #fff;
}
.box-2 {
  background: #f8f8f8;
  width: 357px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 60px;
  padding-left: 60px;
}

.box-3 {
  width: 357px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 60px;
  padding-left: 60px;
  background-color: #fff;
}

hr {
 margin-top: 0px;
}

/* start compliment restaurant */

#compliment {
    
    margin-top: 10rem;

}

#compliment-box {
    display: flex;
    justify-content: center;
    align-items: center   ;
     padding-left: 100px;
     padding-right: 50px;
     margin-top: 8rem;
}

.mazi-h3 {
  display: block;
  text-align: center;
  text-transform: capitalize;
  font-family: "Cookie", cursive;
  color: #fd7d16;
  padding-right: 40px;
  opacity: 0.9;
  font-size: 36px;
}

.compliment-heading {
  display: block;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 5.7rem;
  font-size: 45px;
  text-transform: capitalize;
  width: 62%;
  margin-left: 257px;
  font-family: "Cardo", serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: black;
}

#compliment-box {
  padding-left:0;
  padding-right: 0;


}




.box-h1 {
    font-family: "Cardo", serif;
    font-size: 20px;
    line-height:32px;
    font-weight: 700;
    text-transform: capitalize;
}

.box-h2 {
    font-family: "Cardo", serif;
    font-size: 20px;
    line-height:32px;
    font-weight: 700;
    text-transform: capitalize;
}

.box-h3 {
    font-family: "Cardo", serif;
    font-size: 20px;
    line-height:32px;
    font-weight: 700;
    text-transform: capitalize;
}

.compliment-box-1{
    display: block;
    width: 350px;
    position: relative;
    right: 30px;
    
}

.compliment-box-2 {
  display: block;
  width: 350px;
  height: 245px;
  /* position: relative;
  left: 30px; */
  
}

.compliment-box-3 {
    display: block;
    width: 350px;
    height: 245px;
    position: relative;
    left: 30px;
}


.compliment-img-1 {
    width: 350px;
    height: 246px;
  
}

.compliment-img-2 {
    width: 350px;
    height: 246px;
}

.compliment-img-3 {
    width: 350px;
    height: 246px;
}

.box-para1 {
  width: 350px;
  height: 81px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.166667px;
  line-height: 1.5em;
  color: #7e8690;
  font-size: 16px;
}

.box-para2 {
  width: 350px;
  height: 81px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.166667px;
  line-height: 1.5em;
  color: #7e8690;
  font-size: 16px;
}

.box-para3 {
  width: 350px;
  height: 81px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.166667px;
  line-height: 1.5em;
  color: #7e8690;
  font-size: 16px;
}

/* close .compliment */

/* items booking section  */

#item-book::before {
  content: "";
  position: absolute;
  background: url(cta-bg.jpg) no-repeat center center/cover;
  z-index: -1;
  width: 100%;
  height: 70%;
  filter: brightness(0.5);
  background-attachment: fixed;
  scroll-behavior: smooth;
  box-shadow: 0 0 5px greenyellow;
  margin-top: 12.0rem;
}

#item-book {
  color: white;
}

.item-h4 {
  font-family: "Cookie", cursive;
  color: white;
  text-align: center;
   padding-top: 14pc;
  font-size: 30px;
}

.item-h1 {
  text-align: center;
  font-size: 4.5rem;
  text-transform: capitalize;
  width: 49%;
  margin-left: 338px;
  margin-bottom: 20px;
}

.book-item {
  display: block;
  margin: auto;
  margin-top: 2rem;
  padding: 14px 24px;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  margin-bottom: 300px;
  color: black;
  background-color: #f8f8f8;
}

.book-item:hover {
  background-color: #fd7d16;
  color: white;
  transition: 0.5s ease-in-out;
}

/* price  items  */

.price-item-h6 {
  display: block;
  text-align: center;
  font-size: 4rem;
  font-weight: 100;
  color: #fd7d16;
  font-family: "Cookie", cursive;
}

.price-item-h1 {
  display: block;
  width: 59%;
  font-size: 50px;
  text-transform: capitalize;
  text-align: center;
  margin-left: 294px;
  margin-top: 1rem;
  font-weight: 500;
  line-height: 55.5px;
  margin-bottom: 4rem;
}

#litle-navbar {
  margin-left: 1rem;
  margin-bottom: 5rem;
}

#litle-navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-weight: bold;
  font-family: sans-serif;
  opacity: 0.6;
}

#litle-navbar ul li:hover {
  color: #fd7d16;
}

#litle-navbar ul li:nth-child(1) {
  color: #fd7d16;
}

#litle-navbar ul li {
  padding: 2rem;
  padding-bottom: 0;
  text-transform: uppercase;
  cursor: pointer;
}

/* menubar start  */
#menu {
  margin-bottom: 25rem;
}

/* menubar-1 is parent of two submenu... sunmenu 1 and submenu 2 */
.menubar-1 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

/* submenu first :start */
.sub-menu-1 {
  border: 1px dotted gray;
  width: 40%;
  padding: 10px;
  display: flex;
  height: 112px;
}

.menu-img-1 {
  margin-right: 10px;
  box-shadow: 2px 3px 4px grey;
}

.dishes-price-1 {
  text-transform: capitalize;
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 500;
}

.num-1 {
  color: #fd7d16;
}

.span-1 {
  color: #7e8690;
  margin-top: 10px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 14px;
}

/* submenu first close */

/* subumenu second start  */
.sub-menu-2 {
  border: 1px dotted gray;
  width: 40%;
  padding: 10px;
  display: flex;
  height: 112px;
}

.menu-img-2 {
  margin-right: 10px;
  box-shadow: 2px 3px 4px grey;
}

.dishes-price-2 {
  text-transform: capitalize;
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 500;
}

.num-2 {
  color: #fd7d16;
}

.span-2 {
  color: #7e8690;
  margin-top: 10px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 14px;
}

/* close menubar second  */

/* 3rd menu bar  */
.menubar-2 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.sub-menu-3 {
  border: 1px dotted gray;
  width: 40%;
  padding: 10px;
  display: flex;
  height: 112px;
}

.menu-img-3 {
  margin-right: 10px;
  box-shadow: 2px 3px 4px grey;
}

.dishes-price-3 {
  text-transform: capitalize;
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 500;
}

.num-3 {
  color: #fd7d16;
}

.span-3 {
  color: #7e8690;
  margin-top: 10px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 14px;
}

/* 3rd close */

/* 4th submenu  */
.sub-menu-4 {
  border: 1px dotted gray;
  width: 40%;
  padding: 10px;
  display: flex;
  height: 112px;
}

.menu-img-4 {
  margin-right: 10px;
  box-shadow: 2px 3px 4px grey;
}

.dishes-price-4 {
  text-transform: capitalize;
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 500;
}

.num-4 {
  color: #fd7d16;
}

.span-4 {
  color: #7e8690;
  margin-top: 10px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 14px;
}

/* 4th close */

/* 3rd menubar start  */
.menubar-3 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.sub-menu-5 {
  border: 1px dotted gray;
  width: 40%;
  padding: 10px;
  display: flex;
  height: 112px;
}

.menu-img-5 {
  margin-right: 10px;
  box-shadow: 2px 3px 4px grey;
}

.dishes-price-5 {
  text-transform: capitalize;
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 500;
}

.num-5 {
  color: #fd7d16;
}

.span-5 {
  color: #7e8690;
  margin-top: 10px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 14px;
}

/* 5th  sub-menu close */

/* 6th sub-menu start  */
.sub-menu-6 {
  border: 1px dotted gray;
  width: 40%;
  padding: 10px;
  display: flex;
  height: 112px;
}

.menu-img-6 {
  margin-right: 10px;
  box-shadow: 2px 3px 4px grey;
}

.dishes-price-6 {
  text-transform: capitalize;
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 500;
}

.num-6 {
  color: #fd7d16;
}

.span-6 {
  color: #7e8690;
  margin-top: 10px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 14px;
}

/* menubar 3rd close */

/* menubar 4th start  */

.menubar-4 {
  display: flex;
  justify-content: space-evenly;
}

.sub-menu-7 {
  border: 1px dotted gray;
  width: 40%;
  padding: 10px;
  display: flex;
  height: 112px;
}

.menu-img-7 {
  margin-right: 10px;
  box-shadow: 2px 3px 4px grey;
}

.dishes-price-7 {
  box-sizing: border-box;
  text-transform: capitalize;
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 500;
}

.num-7 {
  color: #fd7d16;
}

.span-7 {
  color: #7e8690;
  margin-top: 10px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 14px;
}

/* submenu 7 close */

/* submenu 8 start  */
.sub-menu-8 {
  border: 1px dotted gray;
  width: 40%;
  padding: 10px;
  display: flex;
  height: 112;
}

.menu-img-8 {
  margin-right: 10px;
  box-shadow: 2px 3px 4px grey;
}

.dishes-price-8 {
  text-transform: capitalize;
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 500;
}

.num-8 {
  color: #fd7d16;
}

.span-8 {
  color: #7e8690;
  margin-top: 10px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 16px;
}

/* submenu 8 close  */

.bugger-img {
  position: relative;
  float: right;
  bottom: 20px;
}

.menu-btn {
  display: block;
  margin-top: 3rem;
  margin-left: 566px;
  padding: 18px 35px;
  text-transform: capitalize;
  border: none;
  font-size: 16px;
  color: white;
  background-color: #000000;
  border-radius: 5px;
}

.menu-btn:hover {
  background-color: #fd7d16;
  color: white;
  transition: all 0.5s ease;
}

/* close  menu price  */

#mobile {
  margin-bottom: 250px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.smartphone {
  position: relative;
  border: 10px solid black;
  width: 23.5%;
  left: 5rem;
  border-radius: 20px;
  border-left-width: 7px;
}

.phone {
  height: 500px;
  width: 305px;
}

#litle-section {
  text-transform: capitalize;
  margin-left: 3rem;
}

.p-main {
  color: #fd7d16;
  font-size: 25px;
  margin-bottom: 2rem;
  margin-left: 0.3rem;
  font-family: "Cookie", cursive;
}

.main-heading {
  font-size: 45px;
  font-weight: 900;
  margin-bottom: 1rem;
  opacity: 0.5;
}

.p-main2 {
  width: 60%;
  margin-bottom: 1rem;
  color: gray;
  line-height: 1.9rem;
}

.btn-a {
  padding: 10px 35px;
  text-transform: uppercase;
  line-height: 1.5;
  background-color: black;
  color: white;
  text-shadow: 2px 3px 2px gray;
  border: none;
  border-radius: 5px;
}

.btn-a:hover {
  background-color: #fd7d16;
  transition: 0.5s ease-in-out;
}

.apple {
  padding: 8.5px 35px;
  text-transform: uppercase;
  line-height: 1.5;
  background-color: white;
  text-shadow: 2px 3px 4px rgb(238, 232, 232);
  border-radius: 5px;
}

.apple:hover {
  background-color: #fd7d16;
  color: white;
  transition: 0.5s ease-in-out;
}

.insta-title {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  background: #fd7d16;
  padding: 10px 20px;
  color: #fff;
  transform: translate(-50%, -50%);
  font-size: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

#image-container {
  /* overflow: hidden; */
  /* z-index: 1; */
  position: relative;
  height: 100%;
  width: 100%;
  height: 290px;
  overflow: hidden;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: scroll 50s linear infinite;
  cursor: pointer;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 8));
  }
}

.slider-image {
  perspective: 100px;
}

.slider1 {
  height: 290px;
  width: 245px;
  transition: transform 1s;
}

.slider1:hover {
  transform: translateZ(-12px);
}

/* footer section  */

#footer-container::before {
  content: "";
  position: absolute;
  background-color: black;
  z-index: -1;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#footer-container {
  display: flex;
  justify-content: space-evenly;
}

.first {
  color: white;
  padding-top: 10rem;
  margin-left: 2rem;
}

.about {
  font-size: 26px;
  font-weight: 200;
}

.ul-1 li {
  line-height: 1.9rem;
  text-transform: capitalize;
  color: gray;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

.social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  cursor: pointer;
}

.social li {
  padding-right: 5px;
  font-size: 20px;
  margin-top: 10px;
}

.social li a {
  color: white;
  margin-right: 20px;
  padding-left: 0px;
}

.social li a:hover {
  color: #fd7d16;
  transition: all 0.5s ease-in-out;
}

/* first close  */

.second {
  color: white;
  margin-top: 10rem;
  text-align: justify;
}

.contact {
  font-size: 26px;
  font-weight: 200;
  text-transform: capitalize;
}

.contact-1st {
  color: gray;
  font-size: 19px;
}

.fa-twitter {
  color: white;
  cursor: pointer;
}

.fa-facebook {
  color: white;
  cursor: pointer;
}

.fa-github {
  color: white;
  cursor: pointer;
}

.fa-dribbble {
  color: white;
  cursor: pointer;
}

.fa-facebook:hover {
  color: #fd7d16;
}

.fa-twitter:hover {
  color: #fd7d16;
}

.fa-dribbble:hover {
  color: #fd7d16;
}

.fa-github:hover {
  color: #fd7d16;
}

.contact-2nd {
  color: gray;
  font-size: 19px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

.contact-3rd {
  text-transform: capitalize;
  font-size: 18px;
  color: gray;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

.fa-mobile-phone {
  color: white;
  cursor: pointer;
}

.fa-mobile-phone:hover {
  color: #fd7d16;
}

.fa-envelope {
  color: white;
  cursor: pointer;
}

.fa-envelope:hover {
  color: #fd7d16;
}

.fa-building {
  color: white;
  cursor: pointer;
}

.fa-building:hover {
  color: #fd7d16;
}

.third {
  margin-top: 10rem;
  text-transform: capitalize;
}

.opening {
  font-size: 25px;
  font-weight: 400;
}

.days {
  color: gray;
  font-size: 18px;
  font-family: sans-serif;
  margin-bottom: 0;
  margin-top: 0;
}

aside {
  font-family: sans-serif;
  margin-top: 5px;
}

.third {
  color: white;
}

.form {
  margin-top: 5rem;
  text-align: center;
}

/* footer close  */

.heading {
  color: white;
  margin-bottom: 2rem;
  font-size: 25px;
  text-transform: capitalize;
  opacity: 0.7;
}

input[type="email"] {
  height: 5rem;
  width: 50rem;
  border-radius: 10px;
  padding-left: 15px;
  border: none;
  text-align: center;
}

input[type="email"]::placeholder {
  padding-left: 5px;
  text-transform: capitalize;
}

.submit {
  margin-left: 10px;
  padding: 10px 25px;
  border-radius: 5px;
  background-color: #fff;
  font-weight: bold;
}

.submit:hover {
  color: white;
  background-color: #fd7d16;
  transition: all 0.5s ease-out;
}
