@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
hr {
  margin: 0;
  padding: 0;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-100 {
  font-weight: 100;
}

.bg-blue {
  background-color: #05254d;
}

.bg-red {
  background-color: #ed1c24 !important;
}

.bg-gray {
  background-color: rgba(235, 230, 230, 0.2901960784);
}

.bt {
  color: #081419;
}

.fs-45 {
  font-size: 45px;
}
@media only screen and (max-width: 575px) {
  .fs-45 {
    font-size: 30px;
  }
}

.fs-18 {
  font-size: 18px;
}

.fs-17 {
  font-size: 17px;
}
@media only screen and (max-width: 575px) {
  .fs-17 {
    font-size: 14px;
  }
}

.fs-16 {
  font-size: 16px;
}
@media only screen and (max-width: 575px) {
  .fs-16 {
    font-size: 14px;
  }
}

.fs-12 {
  font-size: 12px;
}

.fs-89 {
  font-size: 89px;
  line-height: 85px;
}
@media only screen and (max-width: 767px) {
  .fs-89 {
    font-size: 60px;
    line-height: 60px;
  }
}
@media only screen and (max-width: 450px) {
  .fs-89 {
    font-size: 50px;
    line-height: 50px;
  }
}

.fs-30 {
  font-size: 30px;
}

.fs-15 {
  font-size: 15px;
}

.cursor-pointer {
  cursor: pointer;
}

.z-positive {
  z-index: 1;
}

.z-negative {
  z-index: -1;
}

.outline {
  outline: none;
}

.w-40 {
  width: 40%;
}
@media only screen and (max-width: 991px) {
  .w-40 {
    width: 80%;
  }
}

.w-60 {
  width: 100%;
}

.user-none {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cursor-pointer {
  cursor: pointer;
}

.line30 {
  line-height: 32px;
}

.poppins-font {
  font-family: "Poppins", sans-serif;
}

.arial {
  font-family: emoji;
}

.hero-section {
  background: url("../img/bg-img.jpg") no-repeat center center/cover;
  width: 100%;
}
.hero-section .navigation {
  height: 80px;
}
@media only screen and (max-width: 991px) {
  .hero-section .navigation .nav-links-section {
    position: fixed;
  }
}
.hero-section .navigation .nav-links-section .ul-links {
  gap: 70px;
}
@media only screen and (max-width: 1199px) {
  .hero-section .navigation .nav-links-section .ul-links {
    gap: 55px;
  }
}
@media only screen and (max-width: 991px) {
  .hero-section .navigation .nav-links-section .ul-links {
    gap: 30px;
    position: fixed;
    left: -150%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-color: #ed1c24;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: 2s;
    transition: 2s;
  }
}
.hero-section .navigation .nav-links-section .ul-links li {
  z-index: 1;
  position: relative;
}
.hero-section .navigation .nav-links-section .ul-links li::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid white;
  width: 0%;
  height: 2px;
  top: 100%;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.hero-section .navigation .nav-links-section .ul-links li:hover::after {
  width: 100%;
}
.hero-section .navigation .nav-links-section .ul-links li img {
  top: 15px;
  left: -15px;
  padding: 20px;
  border-radius: 50%;
  -webkit-animation: animate 9s linear infinite;
          animation: animate 9s linear infinite;
}
@-webkit-keyframes animate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes animate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.hero-section .search {
  height: 100%;
  width: 80px;
}
.hero-section .contact {
  height: 100%;
  width: 80px;
}
.hero-section .search-page {
  background-color: black;
  width: 100%;
  left: -100%;
  -webkit-transition: 1s;
  transition: 1s;
}
.hero-section .search-page h1 {
  color: #858585;
}
.hero-section .search-page form input {
  width: 80%;
  height: 65px;
  padding-left: 20px;
  padding-right: 200px;
}
@media only screen and (max-width: 767px) {
  .hero-section .search-page form input {
    padding-right: 100px;
  }
}
.hero-section .search-page form input::-webkit-input-placeholder {
  color: #000000;
}
.hero-section .search-page form input::-moz-placeholder {
  color: #000000;
}
.hero-section .search-page form input:-ms-input-placeholder {
  color: #000000;
}
.hero-section .search-page form input::-ms-input-placeholder {
  color: #000000;
}
.hero-section .search-page form input::placeholder {
  color: #000000;
}
.hero-section .search-page form img {
  top: 50%;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #837f7f;
  padding: 23px 55px;
}
@media only screen and (max-width: 767px) {
  .hero-section .search-page form img {
    right: -65px;
  }
}
.hero-section .search-page form .close {
  top: 40px;
  right: 60px;
  font-size: 50px;
  color: #858585;
}
.hero-section .contact-page {
  right: -100%;
  -webkit-transition: 1s;
  transition: 1s;
  padding-top: 150px;
}
.hero-section .contact-page form input {
  height: 55px;
  padding-left: 14px;
}
.hero-section .contact-page form input::-webkit-input-placeholder {
  color: #000000;
}
.hero-section .contact-page form input::-moz-placeholder {
  color: #000000;
}
.hero-section .contact-page form input:-ms-input-placeholder {
  color: #000000;
}
.hero-section .contact-page form input::-ms-input-placeholder {
  color: #000000;
}
.hero-section .contact-page form input::placeholder {
  color: #000000;
}
.hero-section .contact-page form textarea {
  padding-left: 14px;
}
.hero-section .contact-page form textarea::-webkit-input-placeholder {
  color: #000000;
}
.hero-section .contact-page form textarea::-moz-placeholder {
  color: #000000;
}
.hero-section .contact-page form textarea:-ms-input-placeholder {
  color: #000000;
}
.hero-section .contact-page form textarea::-ms-input-placeholder {
  color: #000000;
}
.hero-section .contact-page form textarea::placeholder {
  color: #000000;
}
.hero-section .contact-page form .contact-btn a {
  padding: 14px 28px;
  background-color: transparent;
  border: 2px solid white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.hero-section .contact-page form .contact-btn a:hover {
  background-color: #ed1c24;
}
.hero-section .contact-page .contact-close {
  top: 40px;
  right: 60px;
  font-size: 50px;
  color: white;
  -webkit-transform: translateX(70%);
          transform: translateX(70%);
}
.hero-section .hero-heading {
  margin-top: 150px;
  padding-bottom: 260px;
}
.hero-section .hero-heading a {
  width: 200px;
  height: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.hero-section .hero-heading a:nth-child(1):hover {
  background-color: white !important;
  color: black !important;
}
.hero-section .hero-heading a:nth-child(2):hover {
  background-color: #ed1c24 !important;
  color: white !important;
}

.about-section {
  padding: 90px 40px 20px 140px;
  border-radius: 82px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  top: -150px;
  margin-bottom: -150px;
}
@media only screen and (max-width: 1199px) {
  .about-section {
    padding: 60px 50px 20px 50px;
  }
}
@media only screen and (max-width: 991px) {
  .about-section {
    border-radius: 20px;
  }
}
.about-section .about-text h2 {
  position: relative;
}
.about-section .about-text h2::before {
  content: "";
  position: absolute;
  border-bottom: 8px solid #ed1c24;
  width: 90px;
  border-radius: 5px;
  left: 0;
  bottom: -12px;
}
@media only screen and (max-width: 991px) {
  .about-section .about-text h2::before {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
.about-section .about-text p {
  margin-top: 35px;
}
.about-section .about-text a {
  margin-top: 35px;
  width: 270px;
  height: 75px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.about-section .about-text a:hover {
  background-color: #ed1c24;
}
.about-section .about-img .small-virus {
  -webkit-animation: smallvirus 15s linear infinite;
          animation: smallvirus 15s linear infinite;
  border-radius: 50%;
}
@-webkit-keyframes smallvirus {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes smallvirus {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.about-section .about-img .big-virus {
  -webkit-animation: bigvirus 30s linear infinite;
          animation: bigvirus 30s linear infinite;
  border-radius: 50%;
}
@-webkit-keyframes bigvirus {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes bigvirus {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@media only screen and (max-width: 1199px) {
  .about-section .about-img .big-virus {
    width: 300px;
  }
}
@media only screen and (max-width: 575px) {
  .about-section .about-img .big-virus {
    width: 75%;
  }
}

.virus-effect-section {
  margin-top: 100px;
}
.virus-effect-section p {
  margin-top: 30px;
  line-height: 30px;
}
.virus-effect-section a {
  margin-top: 30px;
  width: 270px;
  height: 75px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.virus-effect-section a:hover {
  background-color: #ed1c24;
}
.virus-effect-section .effect-img img {
  width: 600px;
}
@media only screen and (max-width: 1199px) {
  .virus-effect-section .effect-img img {
    width: 480px;
  }
}
@media only screen and (max-width: 575px) {
  .virus-effect-section .effect-img img {
    width: 100%;
  }
}

.protect-section {
  margin-top: 100px;
}

.testomonial-container {
  width: 100%;
  padding: 80px 30px;
}
@media (min-width: 991px) {
  .testomonial-container {
    padding: 150px 50px;
  }
}
.testomonial-container::after {
  content: "";
  position: absolute;
  background: url("../img/testomonial-bg.jpg") no-repeat center center/cover;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-filter: brightness(0.3);
          filter: brightness(0.3);
  z-index: -1;
  border-radius: 50px;
}
.testomonial-container .testomonial-caption {
  background-color: #fef6fc;
  border-radius: 20px;
}
.testomonial-container .testomonial-caption img {
  width: 80px;
  height: 80px;
}
.testomonial-container .testomonial-caption .testomonial-btn {
  background-color: #05244d;
  padding: 10px 26px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.testomonial-container .testomonial-caption .testomonial-btn:hover {
  background-color: #ed1c24;
}

.case-section {
  margin-top: 120px;
}
.case-section .case-box-container {
  border-radius: 10px;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#dd5e89), to(#f7bb97)) !important;
  background-image: linear-gradient(to left bottom, #dd5e89, #f7bb97) !important;
  width: 100%;
  height: 100%;
}
.case-section .case-caption {
  padding: 20px;
  height: 100%;
  -webkit-filter: drop-shadow(0px 3px 31px rgba(3, 3, 3, 0.2));
          filter: drop-shadow(0px 3px 31px rgba(3, 3, 3, 0.2));
  border-radius: 10px;
}
.case-section .case-caption .img-2 {
  height: 170px;
}
@media (min-width: 1400px) {
  .case-section .case-caption .img-2 {
    height: 198px;
  }
}
@media (max-width: 1199px) {
  .case-section .case-caption .img-2 {
    height: 100%;
    width: 100%;
  }
}
.case-section .case-caption .red-corona {
  bottom: -8%;
  left: 43%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: redcorona 15s linear infinite;
          animation: redcorona 15s linear infinite;
}
@-webkit-keyframes redcorona {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes redcorona {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.corona-footer {
  padding: 70px 0;
}
.corona-footer .footer-caption p {
  width: 370px;
}
@media (max-width: 767px) {
  .corona-footer .footer-caption p {
    width: 100%;
  }
}