.font {
    font-family: 'Open Sans', sans-serif;
}

.bg-blue {
    background-color: #2500f9;

}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}



.fw-400 {
    font-weight: 500;
}


.z-index-p {
    z-index: 9999;
}

.z-index-s {
    z-index: -1;
}

.mrgn-left {
    margin-left: 7rem;
}

.footer-bg {
    background-color: #09142e;
}