@media only screen and (max-width: 1200px) {

    .hero-section {
        .hero-caption {
            .font-lg {
                font-size: 5rem;
            }
        }
    }

}

@media only screen and (max-width: 992px) {

    .hero-section {
        margin-top: 5rem;


        .hero-caption {
            .font-md {
                font-size: 4rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

            p {
                margin-top: 0.5rem;
                margin-bottom: 1.5rem;
            }

        }
    }

    .company-section {

        ul {
            column-gap: 5rem;
            row-gap: 0rem;



            li {
                img {
                    width: 10rem;
                    height: 9rem;
                    object-fit: contain;
                }
            }
        }

    }


    .apps-feature {

        margin-top: 6rem !important;


        .apps-feature-caption {

            margin-top: 4rem;

            h1 {
                text-align: center;

                br {
                    display: none;
                }
            }

            p {
                text-align: center;
                margin-top: 1rem;
                line-height: 2.2rem;
            }

            .sub-feature-caption {
                section {
                    span {
                        width: 100%;
                    }
                }

            }

            .mrgn-left {
                margin-left: 0;
            }
        }
    }

    .jackpots-section {
        margin-top: 2rem !important;

        &::after {
            display: none;
        }

        h1 {
            width: 100%;
            text-align: center;
            line-height: 3.2rem;
            margin-right: auto;
            margin-left: auto;
            font-size: 2.5rem !important;

        }

        p {
            width: 90%;
            margin: auto;
            text-align: center;
            line-height: 2.3rem;
            margin-top: 0.5rem;
        }
    }


    .pay {

        margin-top: 5rem;

        img {
            display: block;
            margin: auto;
            margin-bottom: 2rem !important;
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            text-align: center;
        }

        p {
            text-align: center;
            width: 70% !important;
            margin: auto;
        }
    }

    .integration_caption {
        h1 {
            max-width: 100% !important;
            text-align: center;
            margin-top: 4rem;
            font-weight: 400;
            font-size: 2rem;
        }

        p {
            width: 100% !important;
            margin: auto;
            text-align: center;
        }

        button {
            display: block;
            margin: auto;
        }
    }

    .application-section {
        margin-top: 7rem;
    }


    .ultimate-built {

        h1 {

            text-align: center;
            margin-bottom: 1rem;

            br {
                display: none;
            }
        }

        p {
            text-align: center;
        }

        .ultimate-caption {
            text-align: center;
            margin-top: 3rem;
            gap: 3rem;

            .sub-ultimate {


                p {
                    width: 60%;
                    margin: auto;
                    margin-top: 1.4rem;
                }

            }


        }

        button {
            display: block;
            margin: auto;
            margin-top: 3rem !important;
        }


    }

    .accordion {
        .accordion-section {
            margin: 0;
            margin-bottom: 1.5rem;

            button {
                padding-bottom: 5px;
                padding-left: 18px;
                font-size: 1.6rem;
                letter-spacing: 0;
                text-align: left;
            }

            .accordion-content {
                p {
                    padding-left: 18px;
                    padding-bottom: 20px;
                    padding-right: 1rem;
                    font-size: 1.4rem;
                    line-height: 2.8rem;


                }
            }
        }

    }





}

@media only screen and (max-width: 767px) {
    .hero-section {

        &::before {
            width: 95% !important;
        }

        .title {
            width: 30rem;

            img {
                padding: 4px;
            }

            span {
                font-size: 1.5rem;
            }
        }


        .hero-caption {
            .font-md {
                font-size: 3rem;
            }

            p {
                font-size: 16px;
                line-height: 2.3rem
            }
        }
    }


    .img-width {
        width: 60%;
    }




    .jackpots-section {

        h1 {
            font-size: 2rem !important;
            line-height: 2.7rem;
            width: 95% !important;
            margin-right: auto;
            margin-left: auto;
        }

        P {
            width: 90% !important;
            margin-right: auto;
            margin-left: auto;

        }
    }


    .integration_caption {

        h1 {
            font-size: 2rem !important;
            line-height: 2.5rem !important;
        }

        p {
            margin-top: 1rem !important;
        }
    }




}


@media only screen and (max-width: 576px) {

    .hero-section {

        .title {



            img {
                padding: 4px;
            }

            span {
                font-size: 1.5rem;
            }
        }




        .hero-caption {
            .font-md {
                font-size: 2rem;
            }

            p {
                width: 90% !important;

            }
        }
    }


    .company-section {

        ul {
            column-gap: 4rem;
            row-gap: 2.5rem;



            li {
                img {
                    width: 10rem;
                    height: 7rem;
                    object-fit: contain;


                }
            }
        }

    }


}


@media only screen and (max-width: 380px) {

    .hero-section {

        .title {
            width: 95% !important;
        }
    }


}